@model Service


<style>
   

    .myIcon {
        font-size: 40px;
        /*margin-right: 40px;*/
        margin-top: 10px;
        color:#1D809F;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Details" class="mt-4" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label">Id</label>
                    <input asp-for="Id" style="color: #000" value="@Model.Id" class="form-control" disabled />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" style="color: #000"  value="@Model.Title" class="form-control" disabled />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Subtitle" class="control-label">Subtitle</label>
                    <input asp-for="Subtitle" style="color: #000" value="@Model.Subtitle" class="form-control" disabled />
                    <span asp-validation-for="Subtitle" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Icon" class="control-label">Icon</label>
                </div>
                <div class="form-group">
                    <i class="myIcon fa-solid @Model.Icon"></i>
                    <h6 class="mt-2""><em>fa-solid @Model.Icon</em></h6>
                </div>
                
            </form>
        </div>
    </div>

    <div class="mb-4">
        <a class = "btn btn-success" href="/dashboard/about">Return Index</a>
    </div>
</div>


